
body {
   font-family: 'Montserrat', Arial, sans-serif !important;
   font-size: 14px;
   line-height: 1.618;
   color: #333333;
   background-color: #ffffff;
}

/* Hero */

#hero {
   background-color: #158cba;
   background-image: url('../img/hero.jpg');
   background-size: cover;
   padding-top: 92px;
}

#particle-js {
   position: absolute;
   z-index: -0;
   max-height: 0px;
   width: 100%;
}

.banner {
   z-index: 1;
   position: relative;
}

nav {
   z-index: 999;
}

#card-form {
   margin-top: -10rem;
}

.title {
   font-size: 2em;
}

.lead-hr {
   width: 80px;
   margin: 30px auto;
   border-top: 4px solid #fff;
}

.datepicker {
   padding: .375rem .75rem !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
   padding-left: .75rem !important;
   padding-right: 1.75rem !important;
}

.select2-container--bootstrap4 .select2-selection {
   box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
}

/* Navbar */

.navbar-scroll-down {
   transform: translateY(-150%);
   transition: all 0.3s ease-in-out;
}

.navbar-scroll-up {
   transform: translateY(0);
   transition: all 0.3s ease-in-out;
}